{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
    <main>
        <div>
            <h1>{{ project_details.name }}</h1>
            {{ project_details.description|markdownify }}
            {% if user.is_authenticated %}
                <h2>Tasks</h2>
                <a href="{% url 'create_task' %}">Create a new task</a>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project_details.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date|date:"M d Y" }}</td>
                                <td>{{ task.due_date|date:"M d Y" }}</td>
                                {% if task.is_completed %}
                                    <td>yes</td>
                                {% else %}
                                    <td>no</td>
                                {% endif %}
                            </tr>
                        {% empty %}
                            <p>This project has no tasks</p>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
